# Python Virtual Environment
# Your terminal shows (py313ml), which is a virtual environment
py313ml/
.venv/
venv/
env/

# Cache Files
__pycache__/
.cache/
*.pyc
.ipynb_checkpoints/

# Large data directories that should not be versioned
# If 'data/' is very large or contains sensitive data, ignore it.
data/

# Archivos de build y logs
dist/
*.egg-info/
tb_logs/
myproject/tb_logs/

# IGNORAR ARCHIVOS GRANDES (MODELOS)
models/car_bike_model.pth
